/auto-save-list/
/backups/
/elpa/
/eshell/
/url/
/data/
/recentf
*.cache
/projects
/eln-cache/
/tramp
/image-dired
/history
/places
/undo-tree-history
bookmarks
/scratch
.fold-this.el
/abbrev_defs
/tree-sitter/
/multisession/
/org-persist/
/ielm-history.eld
